<h1 mat-dialog-title style="color:#ffffff">Nova Despesa</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="despesasForm">
        
        <mat-form-field class="example-full-width">
            <mat-label>Titulo:</mat-label>
            <input matInput formControlName="titulo" name="titulo">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Mês:</mat-label>
            <input matInput formControlName="mes" name="mes">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Valor:</mat-label>
            <input matInput formControlName="valor" name="valor">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Categoria:</mat-label>
            <mat-select formControlName="categoria" name="categoria">
                <mat-option value="saude">Saúde</mat-option>
                <mat-option value="alimentacao">Alimentação</mat-option>
                <mat-option value="diversao">Diversão</mat-option>
                <mat-option value="outros">Outros</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button style="background-color: #ff6600; color: #ffffff" (click)="criarDespesa()">Adicionar</button>
    <button mat-button (click)="cancel()">Cancelar</button>
</div>
