
<div class="container">

        <mat-toolbar class="toolbar">

            
                <img src="../../../assets/ff6600.png">
                <nav class="nav">
                    <a routerLink="/">Home</a>
                    <a routerLink="/controle">Recursos</a>
                    <a routerLink="/">Contato</a>
                    <a routerLink="/">Sobre</a>
                </nav>
                <button mat-raised-button style="background-color: #ff6600; color: #ffffff; font-family: fonte-header;" >Login</button>
                    
                

        </mat-toolbar>
</div>