
<div class="container">

        <mat-toolbar class="toolbar">

            
                <img src="../../../assets/ff6600.png">
                <nav class="nav">
                    <a (click)="scrollToInicio()">Início</a>
                    <a routerLink="/gerenciador">Gerenciador</a>
                    <a (click)="scrollToFuncionalidades()">Funcionalidades</a>
                    <a (click)="scrollToSobre()">Sobre</a>
                </nav>
                <button class="button">
                        <span class="button-text">Login</span>
                </button>
                    
                

        </mat-toolbar>
</div>