<section class="home">
    <div class="home-text">
        <h4 class="text-h4">Seja bem-vindo!</h4>
        <h1 class="text-h1">CONTAS - Chegou o momento de você controlar as suas contas e se organizar!</h1>
        <p>Organize sua vida financeira com a CONTAS e transforme a sua vida.</p>
        <a routerLink="/gerenciador" class="home-btn"><span>Acesso Gerenciador!</span></a>
    </div>
    <div class="home-img">
        <img src="../../../assets/img-home.jpg" alt="imagem-controle-financeiro">
    </div>
</section>