<section id="inicio" class="home">
    <div class="home-text">
        <h4 class="text-h4">Seja bem-vindo!</h4>
        <h1 class="text-h1">CONTAS - Chegou o momento de você controlar as suas contas e se organizar!</h1>
        <p>Organize sua vida financeira com a CONTAS e transforme a sua vida.</p>
        <a routerLink="/gerenciador" class="home-btn"><span>Acesso Gerenciador!</span></a>
    </div>
    <div class="home-img">
        <img src="../../../assets/img-home.png" alt="imagem-controle-financeiro">
    </div>
</section>

<section id="funcionalidades" class="section-cards">
    <div class="section-cards-text">
        <h4>Funcionalidades do nosso Gerenciador</h4>
        <p>O melhor gerenciador do mercado!</p>
    </div>
    <div class="section-cards-interno">
        <div class="cards">
            <div class="cards-item">
                <img src="../../../assets/grafico.png" alt="grafico-pizza">
                <h1>Gráficos</h1>
                <p>Você tem acesso a um gráfico personalizado, dividido por categorias de gastos mensais!</p>
            </div>

            <div class="cards-item">
                <img src="../../../assets/alerta-3.png" alt="alerta-situacao">
                <h1>Situação</h1>
                <p>Controle sua situação através do nosso gerenciador: Controlado, Em alerta ou Descontrolado!</p>
            </div>

            <div class="cards-item">
                <img src="../../../assets/lista.png" alt="grafico-pizza">
                <h1>Listagens</h1>
                <p>Acesso a listagem de todas as despesas do mês selecionado!</p>
            </div>
        </div>
    </div>
</section>