<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
    <mat-tab label="Janeiro"></mat-tab>
    <mat-tab label="Fevereiro"></mat-tab>
    <mat-tab label="Março"></mat-tab>
    <mat-tab label="Abril"></mat-tab>
    <mat-tab label="Maio">Maio</mat-tab>
    <mat-tab label="Junho"></mat-tab>
    <mat-tab label="Julho"></mat-tab>
    <mat-tab label="Agosto"></mat-tab>
    <mat-tab label="Setembro"></mat-tab>
    <mat-tab label="Outubro"></mat-tab>
    <mat-tab label="Novembro"></mat-tab>
    <mat-tab label="Dezembro"></mat-tab>
  </mat-tab-group>